*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#0a0a0a;
    color:#00ff66;

    font-family:Consolas, monospace;

}

.app{

    width:95%;
    margin:auto;

    padding:20px;

}

header{

    margin-bottom:30px;

    border-bottom:1px solid #00ff66;

    padding-bottom:15px;

}

header h1{

    font-size:42px;

}

header span{

    color:#8cffb0;

}

.input-panel{

    display:flex;

    gap:15px;

    margin-bottom:30px;

}

.input-panel input{

    flex:1;

    background:#111;

    color:#00ff66;

    border:1px solid #00ff66;

    padding:15px;

    font-size:18px;

}

.input-panel button{

    width:220px;

    background:#00ff66;

    color:black;

    border:none;

    cursor:pointer;

    font-size:18px;

    font-weight:bold;

}

.content{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;

}

.queue,
.output{

    border:1px solid #00ff66;

    min-height:300px;

    padding:20px;

}

.queue h3,
.output h3{

    margin-bottom:20px;

}

.terminal{

    margin-top:20px;

    border:1px solid #00ff66;

    padding:20px;

    min-height:180px;

    background:black;

}

pre{

    color:#00ff66;

    white-space:pre-wrap;

}

.queue-item{

    border:1px solid #00ff66;

    padding:15px;

    margin-bottom:15px;

    background:#111;

}

.status{

    color:#8cffb0;

    margin-top:8px;

    font-size:14px;

}

.log-success{

    color:#00ff66;

}

.log-process{

    color:#ffe600;

}

button:hover{

    opacity:.8;

}